<html>
<nav class="navbar navbar-info">
	<div class="container fluid">
	</div>

	<ul class="nav navbar-nav navbar-right">
		<li><a href="/login">Login</a></li>
		<li><a href="/Signup">Signup</a></li>
	</ul>
	</nav>
</html>


